body {
    text-align: center;
    padding: 16px;
}

.main_body {
    // display: none;
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.loading {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    animation: animate 3s infinite;
}

@keyframes animate {
    0% {
        color: rgb(245, 200, 245);
    }

    100% {
        color: rgb(102, 2, 102);
    }
}

h1 {
    text-transform: uppercase;
}

p {
    text-align: left;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    
    body {
        padding: 24px;
    }

    .wrapper {
        width: 80%;
        margin: 0 auto;
    }

    .work-wrapper {
        width: 80%;
        margin: 0 auto;
    }
    
}

@media (min-width: 1000px) {
    .loading {
        font-size: 32px;
    }
}