button {
    font-family: $font-family;
    border: none;
    background-color: $color;
    color: white;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    border-radius: 30px;
    font-size: 18px;
}

.lower-buttons {
    display: block;
}

.github {
    margin-top: 10px;
    text-align: center;
}

@media (min-width: 768px) {
    button:not(.mobile-button) {
        width: 20%;
        margin: 10px auto;
    }

    
}