.fname, .lname {
    font-family: $font-family;
    width: 90%;
    padding: 6px;
}

.email, .message {
    width: 90%;
    font-family: $font-family;
    text-align: left;
    padding: 6px;
    margin: 0;
}

label {
    margin-left: 2%;
}

input {
    margin: 0;
}

input, textarea {
    border: 1.5px solid $color;
}

h3 {
    color: $color;
    text-align: left;
}

.submit {
    font-family: $font-family;
    border: none;
    background-color: $color;
    color: white;
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 10px;
}

.contact-intro p, h4 {
    text-align: center;
}

h4 {
    color: $color;
}

.footer h3, .footer p{
    margin: 0 auto;
    text-align: center;
}

.footer {
    margin-top: 5%;
}

.contact-info {
    margin: 0 auto;

    p {
        text-align: center;
    }

    a {
        text-decoration: none;
        
    }

    li {       
        .social-media-icons {
            margin: 0 auto;
            padding-bottom: 10px;
        }
    }
}

@media (min-width: 500px) {
    label {
        margin-left: 4%;
    }
}

@media (min-width: 768px) {

    .first-name, .last-name {
        width: 50%;
        margin: 0 auto;
    }

    .fname, .lname {
        width: 80%;
    }

    .names {
        display: flex;
        justify-content: space-evenly;
    }

    .names label {
        margin-left: 9%;
    }    

    .class-email, .class-message {
        width: 100%;
        margin: 0 auto;
        padding: 0;

        label {
            margin-left: 4.7%;
        }
    }

    .submit {
        width: 25%;
        margin-bottom: 14px;
    }

    li.fa.social_media_list {
        width: 250px;
        margin: 20px auto;

        a {
            padding: 0;
        }
    }

}

@media (min-width: 1000px) {
    form {
        width: 700px;
        margin: 0 auto;
    }
    
    .first-name, .last-name {
        width: 38.5%;
    }

    .class-email, .class-message {
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }

    .submit {
        width: 15%;
    }
}
