.desktop-button {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 50px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
    max-height: none;
  }

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 75%;
    overflow: scroll;
    text-align: left;
    animation: slideDown 0.5s;
  }

  .slick-slider {
    display: flex;
    margin: 16px auto;
  }

  .slick-initialized .slick-slide {
    margin: 16px;
  }

  i.fas.fa-arrow-left.slick-arrow, i.fas.fa-arrow-right.slick-arrow {
    font-size: 28px;
    align-self: center;
    color: $color;
  }

  .fa-arrow-right:before, .fa-arrow-left:before {
    display: none
  }

  @keyframes slideDown {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}


  .screenshots {
      width: 100%;
      text-align: center;
  }

  .wireframes {
      width: 70%;
      margin: 0 auto;
  }
  
  /* The Close Button */
  .close {
    color: $color;
    position: absolute;
    top: 5px;
    right: 18px;
    font-size: 28px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
  }
  
  .close:hover,
  .close:focus {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .buttons-right {
      display: none;
  }

  .download {
      margin: 0 auto;
      padding: 4px 0;
      display: block;
      
      a {
          text-decoration: none;
          padding: 4px 0;
          margin: 0;
      }
  }

  .credit {
      display: block;
      text-align: left;
      padding: 4px 0;
      margin: 0 auto;
      text-decoration: none;
  }

.work-title-desktop {
    display: none;
}

.work-title-mobile {
    display: block;
}

.mobile-buttons-right {
    display: block;
}

.desktop-buttons-right {
    display: none;
}

.side-left, .side-right {
    text-align: center;
    align-self: center;
}

@media (min-width: 768px) {
    .slick-initialized .slick-slide {
        display: flex;
        margin: 24px;
    }

    .slick-slider {
        width: 520px !important;
    }
    
    .side-left {
        text-align: left;
    }

    .side-right {
        text-align: right;
    }
    .mobile-buttons-right {
        display: none;
    }
    
    .desktop-buttons-right {
        display: block;
    }

    .modal-body {
        padding: 0 24px 24px;
    }

    .credit {
        text-align: center;
    }

    .left, .right {
        width: 528px;
        margin: 12px auto;
    }

    .left {
        text-align: left;
        display: flex;
        flex: 1;
        
        img {
            width: 80%;
        }
    }

    .right {
        text-align: right;
        display: flex;
        flex: 1;

        img {
            width: 80%;
        }

        .buttons {
            display: none;
        }

     
    }

    .mobile-button {
        display: block;
        width: 150px !important;
        margin: 0 auto;
    }

    .buttons-right {
        display: block;
        align-self: center;
        text-align: center;
    }

    .work-heading {
        text-align: center;
    }

    .left {
        .buttons {
            padding: 0;
            margin-top: 7%;
            margin-bottom: 6%;
            margin-right: 15%;
        }
    }
    
    .row-1, .row-4 {
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
        
        p {
            text-align: center;
        }
        
    }

    .row-2 {
        p {
            text-align: center;
        }
    }

    .row-4 {
        margin: 36px auto;
        text-align: center;

        .download {
            display: block;
        }
    }

    .screenshots {
        width: 40%;
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;  

        img:not(.musicplay-ca-screenshots) {
            padding: 10px;
            width: 100%;
            height: auto;
        }

        .musicplay-ca-screenshots {
            padding: 10px;
            width: auto;
            height: 179px;
        }
    }

    .work-title-desktop {
        display: block;
    }

    .work-title-mobile {
        display: none;
    }

    .modal {
        h2, h3 {
            text-align: center;
        }
        
    }

    .row-1 {
        display: block;
        margin: 0 auto;
    }

    
}
    
@media (min-width: 1000px) {
    .buttons, .buttons-right {
        margin-top: 10%;
    }

    .left, .right {
        width: 720px;
        margin: 32px auto;
    }

    .slick-slider {
        width: 739px !important;
    }

    .modal-content {
        width: 820px;
        height: 510px;
    }
}

@media (min-width: 1400px) {
    .slick-slider {
        width: 900px !important;
        // margin: 0 auto;
    }
}