.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: white;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: rgb(148, 0, 123);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-transform: uppercase;
  }
  
  .topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
  }
  
  .topnav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(110, 0, 105);
  }
  
  .active {
    background-color: white;
    color: purple;
    font-weight: bolder;
    font-size: 2em;
  }
nav {
    text-align: center;
}

li {
    list-style: none;
    padding: 20px;
}
a:not(.active, .icon, .download a) {
    text-decoration: none;
    color: $color;
    display: block;
    border-bottom: 2px solid transparent;
}

a, .fa-twitter, .fa-linkedin {
    font-size: 1.3em;
}

.fa-twitter, .fa-linkedin {
    padding: 20px;
}

.fa {
    display: flex;
    margin: 0 auto;
}


a {
  position: relative;
  display: block;
  padding: 16px 0;
  margin: 0 12px;
  letter-spacing: 1px;
  line-height: 16px;
  text-transform: uppercase;
  transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
  color: purple;
}

  
@media (min-width: 768px) {
  a:not(.fa)::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: purple;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
  }

  .active:not(.fa)::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: purple;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
  }
  
  a:active::before {
    background-color: purple;
  }
  a:hover::before:not(.download), a:focus::before:not(.download) {
    transform-origin: left top;
    transform: scale(1, 1);
  }

  .topnav a {
    font-size:12px;
  }
  
  .fa-bars {
        display: none;
    }   

    .topnav #myLinks {
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
      }

      .fa {
          margin: 0;
      }

    nav {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }

    .fa-twitter, .fa-linkedin {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 3px;
        padding: 0;
    }

    .download {
      display: flex;
      justify-content: space-evenly;
      margin: 0 auto;
      text-align: center;
    }

@media (min-width: 1000px) {
  .topnav a {
    font-size: 17px;
  }
}
    
}