.desktop-button {
    display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: left;
  }

  .screenshots {
      width: 100%;
      text-align: center;
  }

  .wireframes {
      width: 70%;
      margin: 0 auto;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .buttons-right {
      display: none;
  }

  .download {
      margin: 0 auto;
      text-align: center;
  }

@media (min-width: 768px) {
    .left {
        text-align: left;
        display: flex;
        margin: 0 auto;
        flex: 1;
        // width: 80%;
        
        img {
            width: 80%;
        }

 
    }

    .right {
        text-align: right;
        display: flex;
        margin: 0 auto;
        flex: 1;
        // width: 80%;

        img {
            width: 80%;
        }

        .buttons {
            display: none;
        }

     
    }

    .mobile-button {
        display: block;
        width: 100%;
        margin: 50px;      
    }

    .buttons-right {
        display: block;
        margin-top: 7%;
        margin-right: 10%;

    }

    .left {
        .buttons {
            padding: 0;
            margin-top: 7%;
            margin-bottom: 6%;
            margin-right: 15%;
        }
    }
    
    .row-1 {
        display: flex;
        justify-content: space-evenly;
    }
    
@media (min-width: 1000px) {
    .buttons, .buttons-right {
        margin-top: 10%;
    }


}

}